#loginForm{
    position:relative;
    width:500px;
    height:400px;
    margin: 0 auto;
    background-color: #E5E5E5;
    box-shadow: 5px 5px 5px #888888;
    margin-top:100px;
}

div.position{
    margin:0 50px;
    padding-top:60px;
}

div.loginButton{
    margin:50px 50px;
}
h4#message{
    position:absolute;
    bottom:0;
    right:0;
    left:0;
    padding-left: 50px;
}

#loginButton{

    width:100px;
}

#forgotPassword{
    margin-left: 210px;
}